*
{
    margin: 1%;
    padding: 0.05%;
}

body
{
font-family: san-serif, Times New Roman, Arial;
}
header
{
    border-bottom: 2px dashed black;
    text-align: center;
    background: pink;
}
div
{
    
}
.contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: device-height;
    *

{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}


.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
}


.row:after {
    content: "";
    display: table;
    clear: both;
}


.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}


@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

