*
{
margin: 1%;
padding:0.05%;
}

body 
{

background: white;

font-family: san-serif, Times New Roman, Arial;

#Proyecto_destacado
{
	
	
}
header
{
	border-bottom: 2px dashed black;
	text-align: center;
	background: pink;
}
}