*
{
    margin: 1%;
    padding: 0.05%;
}

body
{
font-family: san-serif, Times New Roman, Arial;
}
header
{
    border-bottom: 2px dashed black;
    text-align: center;
    background: pink;
}
div
{
    
}
.contenedor-flex {
  display: flex;
  justify-content: center; 
  align-items: center;    
  height:  1000000px; 
}
